@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetBrainsMono";
    src: url("./assets/JetBrainsMono.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@layer base {
  * {
    font-family: "JetBrainsMono", cursive;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}